/* style.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: blue;
}

#titulos {
    font-weight: 800;
    font-size: 36px;
    color: green;
    text-align: center;
}

.buttonone {
    background-color: black;
    color: greenyellow;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 6px;
    border-radius: 15px;
    justify-content: center;
    margin-left: 40%;
}

ol {
    text-align: left;
}