/* style.css */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    background-color: blue;
}

#titulos {
    font-weight: 800;
    font-size: 36px;
    color: green
}

.buttonone {
    background-color: black;
    color: greenyellow;
}

img {
    margin-left: 200px;
}