/* style.css */


* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.header {
    font-weight: 800;
    font-size: 36px;
    color: green;
}

.test {
    background-color: blue;
}